<div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
    <div class="signup">
        <form>
            <label for="chk" aria-hidden="true">Sign up</label>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button>Sign up</button>
        </form>
    </div>
    <div class="login">
        <form [formGroup]="loginForm">
            <label for="chk" aria-hidden="true">Login</label>
            <input type="mobile" name="mobile" placeholder="Mobile" required="" formControlName="mobile">
            <input *ngIf="isOtp" type="password" name="password" placeholder="OTP" required="" formControlName="otp">
            <button (click)="submit()">Login</button>
        </form>
    </div>
</div>