/* You can add global styles to this file, and also import other style files */
// / You can add global styles to this file, and also import other style files /
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	// background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
	// background: linear-gradient(to bottom, #e6f5fb , #03a9f4,  #25a9e0);
	// background-color: #41a1ce;
	background-color: #4c95b7;
}